<? $this->title = 'Development Tools: Assemblers and Disassemblers' ?>
<? $this->description = 'Assemblers, Disassemblers, and Optimizers for 6502 code.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" class="bodyblack" style="padding-top:15px;">

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="links"><b>Links to Program Homepages</b></a>
  		<ul>
        <li>
          <a href="https://code.google.com/p/a6-assembler/">A6</a> -
          Simon Collis has written a multiplatform 6502 cross-assembler geared towards
          Commodore 64/128 development. Executables and source code of A6 are available
          for DOS, Unix, and AmigaOS.
        </li>

        <li>
          <a href="http://www.esw-heim.tu-clausthal.de/~marco/smorbrod/acme/">ACME</a> -
          Marco Baye's ACME cross-assembler has been recommended by several 6502.org
          visitors. This assembler has been ported to several platforms including Amiga,
          DOS, and Linux. It supports convenient features like macros and local labels,
          and assembles for the 6502, 65C02, and 65C816.
        </li>

        <li>
          <a href="http://dasm-dillon.sourceforge.net/">DASM</a> - A cross-platform, versatile macro assembler
          with support for target microprocessors including 6502, 68HC11, 68705, 6803, HD6303, F8 and 6507.
          Full source-code and selected target-machine runtimes are included in the distribution package.
        </li>

        <li>
          <a href="http://www.ameth.org/~veilleux/dcc6502.html">DCC6502</a> -
          A code disassembler for the 6502 microprocessor. It features accurate cycle
          counting, fast table-based disassembly, portability, and special features for
          NES developers.
        </li>

        <li>
          <a href="http://home.earthlink.net/~hxa">HXA</a> -
          Anton Treuenfels' Hobby Cross Assembler (HXA) is a program written in the TAWK
          language.  It currently handles 6502, 65C02/R65C02/W65C02S, and W65C816S
          instruction sets, does macros, includes, conditional assembly, and more. Its
          source code is available under the GNU Public License.
        </li>

        <li>
          <a href="http://www.hytherion.com/beattidp/comput/x65tools/index.htm">MAS65: 6502 Macro Cross Assembler</a> -
          Douglas Beattie wrote this macro cross-assembler for use with his DIY-6502
          homebuilt computer, and also has a version of figFORTH that support
          communication through the 6551 ACIA.
        </li>

        <li>
          <a href="http://www.sbprojects.com/sbasm/sbasm.htm">SB-Assembler</a> -
          San Bergmans created this cross-assembler for DOS that includes some
          interesting features like a random-fill directive and multi-processor support.
        </li>

        <li>
          <a href="http://www.floodgap.com/retrotech/xa/">xa65: 6502 Cross Assembler</a> -
          Andre Fachat's open-source assembler is written in C and supports the standard
          6502 opcode list, as well as the Rockwell R65C02 CMOS opcodes. It now supports
          the 65816 instruction set thanks to Jolse Maginnis. xa65 has a C-alike
          preprocessor and supports label-hiding in a block structure. It produces plain
          binary files, as well as special o65 object files. Further tools include a
          linker, file and relocation utilities for o65 files.
        </li>

        <li>
          <a href="http://www.cs.utah.edu/~schmelze/atari/atasm/index.html">ATasm: A Mostly Mac/65 Cross-Assembler</a> -
          Mark Schmelzenbach has created this 6502 cross-assembler that is compatible
          with the original Mac/65 macro-assembler from OSS software. It is specially
          designed for Atari computers and emulators.
        </li>

        <li>
          <a href="http://www.lassie.demon.co.uk/microlab/assembler.html">6502/Microlab Assembler</a> -
          David Jordan has written this very simple assembler for use with the EPE
          Microlab trainer board. This page contains the Linux 2.x binary and C source
          code.
        </li>

        <li>
          <a href="http://www.weihenstephan.org/~michaste/mxass/">MXASS</a> -
          A shareware cross-assembler which supports the 6502, 65C02, illegal 6502,
          65816, and Z-80. It can handle macros, local labels, and many other things. A
          demo version is available on this site from the author, Michael Steil.
        </li>

        <li>
          <a href="http://www.heilbronn.netsurf.de/~dallmann/peephole.html">6502/10 Peephole Optimizer</a> -
          Daniel Dallmann created this C program to aid development with his
          C64 operating system "Lunix". The peephole optimizer works with
          standard 6502 code and the source is very portable.
        </li>

        <li>
          <a href="http://www.villehelin.com/wla.html">WLA DX</a> -
          Ville Helin is a Finnish progammer that has written "Yet Another
          GB-Z80/Z80/6502/6510/65816 Macro Assembler Package" that runs on several
          platforms including MS-DOS, Linux, and the Amiga.
        </li>

        <li>
          <a href="http://xasm.atari.org">Piotr Fusik's XASM</a> -
          A portable, open source assembler. Although geared towards
          Atari 8-bits, it may be used for other 6502 applications as well.
        </li>

        <li>
          <a href="http://hkn.eecs.berkeley.edu/~mcmartin/P65/">P65 Assembler</a> -
          Michael Chapman Martin has written a highly-portable 6502 cross-assembler
          written entirely in Perl.
        </li>

        <li>
          <a href="http://www.crbond.com/tools.htm">Charles R. Bond's Assembler</a> -
          A four pass assembler for the 6502 that is bundled with a source
          code generator that can read "H6X" files and generate assembly
          source.
        </li>

        <li>
          <a href="http://www.aartbik.com/MISC/c64.html">Win2C64</a> -
          Aart Bik has written a 6510 cross-assembler for Windows.  It supports the
          undocumented opcodes as well as most commonly used directives.
        </li>

        <li>
          <a href="http://www.obelisk.demon.co.uk/dev65/">Dev65</a> -
          Andrew Jacobs has written the Dev65 Portable 65xx Development System,
          supporting 65xx, 65C02 and 65816 assembly language programming. It runs
          on any system with Java and the source can be found
          <a href="http://sourceforge.net/projects/dev65/">on SourceForge</a>.
        </li>

        <li>
          <a href="http://www.cc65.org/">cc65</a> -
          Ullrich von Bassewitz maintains cc65 which is a cross development
          package for 65(C)02 systems, including macro assembler, C compiler, linker,
          and other tools. The assembler supports the 65816. It's cross platform and
          binaries are available.
        </li>

        <li>
          <a href="https://hkn.eecs.berkeley.edu/~mcmartin/ophis/">Ophis assembler</a> -
          Michael Martin's "Ophis" is a cross-assembler for 65xx, supporting the stock
          6502 opcodes, 65c02 extensions, and syntax for the undocumented opcodes in the
          NMOS 6502.  (Syntax for these opcodes matches those given in the VICE team's
          documentation.)  It supports macros too.  Ophis is written in pure Python and
          should be highly portable.  Special emphasis is given toward developing
          Commodore 64 applications.
        </li>
      </ul>
	  </p>

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="download"><b>Direct Download from 6502.org</b></a>
  		<ul>
        <li>
          <a href="/tools/asm/fasm10.zip">FASM10.ZIP</a> -
          FASM is a macro-assembler written in C by
          <?= $this->mailTo('tm2@best.com', 'Toshi Morita', ['encode' => 'javascript']) ?>
          as a quick replacement for 2500 AD. It has been released under GNU
          Public License and full source code is included.
        </li>

        <li>
          <a href="/tools/asm/pvu6502.zip">PVU6502.ZIP</a> - picoViewer 6502 version is
          a free interactive disassembler for PalmOS.  More information can be found on the
          <a href="http://www.picodoc.com/">Picodoc</a> website.
        </li>

        <li>
          <a href="/tools/asm/fasm10.zip">TASM301.ZIP</a> -
          TASM 3.01 from Speech Technology is sort of the "de facto" for DOS
          cross-assemblers. It supports quite a few different processors, including the
          6502 and 65C02.
        </li>

        <li>
          <a href="/tools/asm/ida37fw.zip">IDA37FW.ZIP</a> -
          IDA 3.7 from DataRescue is an excellent freeware multi-processor, interactive
          disassembler for DOS. It now grown to a commercial product and a link to it
          can be found in the <a href="/commercial">Commercial Support</a> section.
        </li>
  		</ul>
	  </p>

	</td>

	<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>

	</tr>

	</table>
