<? $this->title = 'Development Tools: Emulators' ?>
<? $this->description = 'Programs that emulate the 6502 microprocessor and its support chips.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" class="bodyblack" style="padding-top:15px;">

    <p>
      Emulation is a facinating and incredible capability. Using the tools presented
      here, you can accurately test your 6502 code and perfect it before ever
      loading it into an actual machine. Emulators allow your computer to simulate
      the functions of a 6502 microprocessor (and in some cases the support chips)
      right on your computer, entirely through software. By eliminating the delays
      of transferring and testing your code on a "real" 6502 machine, emulators can
      dramatically speed up your development process.
    </p>

    <p style="padding-top:20px;"><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
      <a name="javascript"><b>Web-based 6502 Emulators</b></a>
      <ul>
        <li>
          <a href="http://www.6502asm.com/">6502 Assembler &amp; Emulator in JavaScript</a> -
          This website by Stian S&oslash;reng is a small assembler and emulator written entirely in
          JavaScript that runs in your web browser.
        </li>

        <li>
          <a href="http://skilldrick.github.com/easy6502/">Easy 6502</a> -
          Nick Morgan built on Stian S&oslash;reng's work to create an online 6502 tutorial.  It introduces
          the 6502 in several lessons, starting from the basics and building up to a working
          game.  Each lesson presents example code that can be run in an emulator on the same page.
        </li>

        <li>
          <a href="http://www.visual6502.org/">Visual Transistor-level Simulation of the 6502 CPU</a> -
          This incredible browser-based simulator in JavaScript was made by
          photographing a 6502 chip die, converting those images to vector
          polygons, then building maps of transistor connections from those. It
          is an accurate representation of the 6502 in its most intricate details.
        </li>

        <li>
          <a href="http://e-tradition.net/bytes/6502/">Virtual 6502</a> is JavaScript-based
          assembler, disassembler, and emulator that runs in your browser.  Its
          <a href="http://e-tradition.net/bytes/6502/6502cpu.js">CPU code</a> is based on
          C-code for Macintosh by Earle F. Philhower III and available under the GPL.  This
          page also includes a 6502 instruction set reference.
        </li>
      </ul>
    </p>

		<p style="padding-top:20px;"><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="emulation"><b>Desktop-based 6502 Emulation and Simulators</b></a>
  		<ul>
        <li>
          <a href="/tools/emu/la6502emu.txt">6502 Emulation Core for 680X0</a> -
          Leslie Ayling has written this emulation core for 68020 and higher processors.
          While written for the Amiga to emulate the OSI Superboard II, it can be easily
          adapted to other applications.
        </li>

        <li>
          <a href="http://sbc.rictor.org/simulator.html">65C02 Emulator for Windows</a> -
          This Windows 95 program will emulate a 65C02 microprocessor in a basic system.
          It includes a simple ROM monitor to get started with. One of its interesting
          capabilities is the ability of the emulated processor to access PC resources
          like the LPT port.
        </li>

        <li>
          <a href="http://exifpro.com/utils.html">6502 Macroassembler &amp; Simulator</a> -
          Michal Kowalski has created this integrated development environment for
          Windows that allows your to write, assemble, debug, and simulate your 6502
          code.
        </li>

        <li>
          <a href="https://github.com/aaronmell/6502Net">6502Net</a> -
          Aaron Mell has written a 6502 emulator in C# and WPF (Microsoft .NET).  It allows
          you to load a program into memory and step through it, watch registers, and
          set breakpoints.
        </li>

        <li>
          <a href="http://atarihq.com/danb/6502.shtml#6502SIM">6502SIM</a> -
          Dan Boris's "6502 Processor Page" features his 6502 simulator for MS-DOS.
        </li>

        <li>
          <a href="https://github.com/redline6561/cl-6502">cl-6502</a> - Brit Butler
          has written a 6502 emulator, assembler, and disassembler in Common Lisp.
        </li>

        <li>
          <a href="http://rubbermallet.org/fake6502.c">fake6502</a> - Mike Chambers
          has written a cycle-accurate 6502 emulator in C.
        </li>

        <li>
          <a href="https://github.com/pda/go6502">go6502</a> - Paul Annesley
          has written an emulator and debugger in go for the
          <a href="https://github.com/pda/pda6502">pda6502</a> homebrew computer.
          go6502 features a stepping debugger with breakpoints on instruction type,
          register values and memory location
        </li>

        <li>
          <a href="http://graphics.stanford.edu/~ianbuck/proj/Nintendo/">Hardware Console Design</a> -
          As a project for Princeton University, Ian Buck developed a hardware
          simulation of the original 6502-based Nintendo game console.
        </li>

        <li>
          <a href="http://ariejan.github.io/i6502/">i6502</a> - Ariejan de Vroom has written
          a 6502 emulator in Golang.
        </li>

        <li>
          <a href="http://www.piumarta.com/software/lib6502/">lib6502</a> - Ian Piumarta's
          tools for emulating a 6502 microprocessor include lib6502, a C library, and
          run6502, a command line tool.  (<a href="/tools/emu/lib6502-1.0.tar.gz">Download from 6502.org</a>)
        </li>

        <li>
          <a href="https://code.google.com/p/chadslab/source/browse/#svn%2Ftrunk%2Fm6502">m6502</a> -
          Chad Page has written a small 6502 emulator in C, with an Apple 1 monitor and BASIC.
        </li>

        <li>
          <a href="http://web.archive.org/web/20091025103339/http://geocities.com/oneelkruns/sim65.html">Mac 65C02 Simulator</a> -
          Ron Kneusel's "The Incredible 6502" page includes a few tutorials, portable
          'C' source code for a simple 6502 assembler, and the first simulator for
          Macintosh. (<a href="http://www.reocities.com/oneelkruns/sim65.html">Alternate archive.</a>)
        </li>

        <li>
          <a href="http://github.com/mnaberez/py65">Py65</a> - Mike Naberezny has written a
          Python package that simulates the 6502 and 65C02.  It includes a monitor program.
        </li>

        <li>
          <a href="http://www.wsxyz.net/sim65/">Sim65</a> -
          Sheldon Simms' 65C02 simulator and debugger for Linux/GTK systems can load
          binary images or S-record files containing 65C02 code and execute it. Sim65
          allows you to see and alter registers &amp; memory, set breakpoints, single step,
          and more.
        </li>

        <li>
          <a href="http://www.crbond.com/soft6502.htm">Soft6502</a> -
          Charles R. Bond has written a 6502 simulator for Windows that resembles the
          early 6502 single board computers such as the KIM-1.
        </li>

        <li>
          <a href="https://github.com/sethm/symon">Symon</a> - Seth Morabito has written an NMOS 6502
          simulator in Java.  It simulates a system with 32KB of RAM, 16KB of ROM, a 6551 ACIA, and a 6522 VIA.
        </li>

        <li>
          <a href="http://www.surffi.net/~allu/main/index.php?Emulators#sim6502">SYS8 Platform &amp; Simulator (broken link)</a> -
          SYS8 is an imaginary 6502 platform by Markku Al&eacute;n.  This page contains a simulator for it
          with full assemble and disassemble features that is capable of running Synertek Basic 1.1.
        </li>

        <li>
          <a href="http://web.archive.org/web/20150619004028/http://www.telefragged.com/thefatal/index.php?content=inc_si_6502.htm">Virtual6502</a> -
          Rich Whitehouse has built a multi-purpose emulator for the NMOS 6502 microprocessor
          that runs under Win32.  Some of its features include a plugin system, disassembler,
          and debugging functionality.
          (<a href="http://www.richwhitehouse.com/filemirror/Virtual6502_v02.zip">Download</a>)
        </li>
      </ul>
    </p>

		<p style="padding-top:20px;"><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="embedded"><b>Embedded 6502 emulation</b> (on microcontrollers)</a>
  		<ul>
        <li>
          <a href="http://sourceforge.net/p/em-65c02/wiki/Home/">Andrew Jacobs'</a>
          emulator on Microchip PIC24 or PIC33.
          (See also <a href="http://forum.6502.org/viewtopic.php?t=1936">this thread</a>.)
        </li>
        <li>
          <a href="https://github.com/thegaragelab/tgl6502">Shane Gough's</a>
          TGL-6502 emulator on 8-pin ARM-based LPC810.
          (See also <a href="http://forum.6502.org/viewtopic.php?t=3146">this thread</a> and
          <a href="http://thegaragelab.com/tag/tgl6502/">the blog</a>.)
        </li>
        <li>
          <a href="http://wiki.kewl.org/dokuwiki/projects:ape65">Darron Broad's</a>
          Ape65 emulator on Microchip PIC32 and the MX250 and MX270 and found on the chipKIT Pi.
        </li>
        <li>
          <a href="http://sbc.rictor.org/avr65c02.html">Daryl Rictor's</a>
          emulator on ATMega1284P.
          (See also <a href="http://forum.6502.org/viewtopic.php?t=2312">this thread</a>.)
        </li>
        <li>
          <a href="http://2m5.de/6502_Emu/index.htm">Klaus Dormann's</a>
          emulator on ATMega16.
          (See also <a href="http://forum.6502.org/viewtopic.php?t=2407">this thread</a>.)
        </li>
        <li>
          <a href="https://github.com/hoglet67/PiTubeClient">Dave Banks'</a>
          emulator on Raspberry Pi baremetal (ARM)
          (See also <a href="http://stardot.org.uk/forums/viewtopic.php?f=3&amp;t=10421&amp;p=127347#p127347">this thread</a>.)
        </li>
        <li>
          <a href="https://github.com/BigEd/stm6502">Chris Baird's</a>
          emulator on STM F4 discovery board (ARM).
          Previously <a href="https://github.com/cjbaird/stm6502">here (dead link)</a>
          (See also <a href="http://forum.6502.org/viewtopic.php?t=2177">this thread</a>.)
          </li>
        <li>
          <a href="https://github.com/BigEd/a6502">Ed Spittles'</a>
          emulator on STM F4 discovery board (ARM).
          (See also <a href="http://forum.6502.org/viewtopic.php?t=2209">this thread</a>.)
          </li>
      </ul>
    </p>

		<p style="padding-top:20px;"><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="tests"><b>6502 Test programs</b> (for emulators and re-implementations)</a>
  		<ul>
        <li>
          <a href="https://github.com/Klaus2m5/6502_65C02_functional_tests/tree/master">Klaus Dormann's test suite</a> -
          portable, includes decimal mode, is standalone and can be assembled to a single image around 16k. Binaries
          are in a subdir.
          (See also <a href="http://forum.6502.org/viewtopic.php?f=2&t=2241">this forum thread</a>.)
        </li>
        <li>
          <a href="http://www.modelb.bbcmicro.com/testsuite-2.15.tar.gz">Wolfgang Lorenz' C64 suite</a> -
          exhaustive, excluding decimal mode, uses C64 facilities to chain each program. 11kByte total.
          There's some description of the suite <a href="http://plus4world.powweb.com/software/Test_Suite">here</a>.
          Christopher Palm offers stubbing advice <a href="http://www.softwolves.com/arkiv/cbm-hackers/7/7114.html">here</a>.
          (<a href="http://www.baisoku.org/pc64test.zip">A different revision</a> with sources.)
        </li>
        <li>
          <a href="http://www.baltissen.org/zip/rb65-11.zip">Ruud Baltissen's 8k test ROM</a> -
          from his VHDL 6502 core (includes source, but only a subset of files found in the
          <a href="http://www.baltissen.org/zip/rb65-10.zip">previous version</a>)
        </li>
        <li>
          <a href="http://nickmass.com/images/nestest.nes">NES test rom</a> -
          by Kevin Horton (24kbyte) (no sources, but some information <a href="http://www.qmtpro.com/~nes/misc/nestest.txt">here)
        </li>
        <li>
          <a href="http://code.google.com/p/hmc-6502/source/browse/trunk/emu/testvectors/AllSuiteA.asm">AllSuiteA.asm</a> -
          from the hcm-6502 (verilog) project. ROM available. Load at and reset to 0xf000 and set
          IRQ vector to 0xf5a4.
        </li>
        <li>
          <a href="/tutorials/decimal_mode.html">Decimal mode tests</a> -
          by Bruce Clark ADC/SBC (exhaustive, tests all four affected flags and several CPU versions.)
          (Some additional tests <a href="http://visual6502.org/wiki/index.php?title=6502DecimalMode">here</a>
          in the visual6502 project.)
        </li>
        <li>
          <a href="http://web.archive.org/web/20070707064155/http://www.birdcomputer.ca/Projects/Prj6502/bc6502_page.html">Rob Finch's tests</a> -
          from his 6502 core (now offline, so link is to archive.org) (1500 bytes)
        </li>
        <li>
          <a href="http://www.virtualdub.org/downloads/Acid800-1.0.7z">Acid800</a> -
          by Avery Lee for 8-bit Atari emulators includes some 6502 tests.
          See <a href="http://www.virtualdub.org/altirra.html">Altirra page.
        </li>
        <li>
          <a href="http://asap.git.sourceforge.net/git/gitweb.cgi?p=asap/asap;a=tree;f=test">ASAP tests</a> -
          by Piotr Fusik include exhaustive tests for ADC, SBC and 0x6B as well as a few tests for other undocumented opcodes.
       </li>
      </ul>
    </p>

	</td>

	<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>

	</tr>

	</table>
