<? $this->title = 'Compilers and Languages' ?>
<? $this->description = 'High-level language compilers and interpreters for the 6502 microprocessor.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" class="bodyblack" style="padding-top:15px;">

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="articles"><b>Articles</b></a>
  		<ul>
        <li>
          <a href="http://www.dwheeler.com/6502">6502 Language Implementation Approaches</a> -
          David A. Wheeler's pages describe unusual ways to implement compilers on the 6502
          that are possibly more efficient.
        </li>
  		</ul>
	  </p>

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="compilers"><b>Compilers</b></a>
  		<ul>
        <li>
          <a href="http://www.cc65.org">CC65</a> -
          A descendant of Small C, this is a freeware C compiler for 6502-based systems
          from Ullrich von Bassewitz.
        </li>

        <li>
          <a href="/tools/lang/lcc-1.9-retargetable.tar.gz">LCC 65C816 [lcc-1.9-retargetable.tar.gz]</a> -
          Toshi Morita has successfully ported LCC to compile for the 65C816
          microprocessor, and this archive contains complete source code for the
          compiler along with simple instructions and examples.
        </li>

        <li>
          <a href="http://mdfs.net/System/C/6502/">Small-C</a> -
          a compiler suite by Ron Cain for a subset of the C programming language, here ported to the BBC micro
          by A. J. Travis.
        </li>

        <li>
          <a href="http://www.kdef.com/geek/vic/quetz.html">Quetzalcoatl</a> -
          Brendan Jones created this C compiler which runs under Linux and Win32. You
          can download the program from this site, along with an HTML programming
          manual, and the source code is available by request.
        </li>

        <li>
          <a href="http://osdk.defence-force.org/">Oric Software Development Kit</a> -
          The OSDK is a complete cross-development system allowing you to
          create software for the Oric range of computers.  It includes a C compiler,
          cross-assembler, BASIC converter, and more.
        </li>

        <li>
          <a href="https://github.com/puppeh/gcc-6502">GCC</a> -
          A port of the Gnu Compiler Collection to the 6502 processor family, also
          including the semi65x command line 6502 simulator. See also
          <a href="https://github.com/puppeh/gcc-6502-bits">this support project</a>.
          Described as a work in progress and not yet free of bugs.
        </li>

        <li>
          <a href="http://osdk.defence-force.org/index.php?page=documentation&subpage=compiler">RCC16</a> -
		  A version of the LCC compiler targeted towards Oric computers (6502-based).  The compiler is
		  partially ANSI compliant and supports C++ comments as well as standard C comments.
        </li>

  		</ul>
	  </p>

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="interpreters"><b>Interpreters</b></a>
  		<ul>
        <li>
          Interpreted languages and other development tools written in native 6502
          code can be found in the <a href="/source/">Source Code Repository</a>.
        </li>
  		</ul>
	  </p>
	</td>

	<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>

	</tr>

	</table>
