<? $this->title = 'Books' ?>
<? $this->description = 'A listing of must-read books about the 6502 microprocessor.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" class="bodyblack" style="padding-top:15px;">
      Many good books have been published about the 6502 over the years.
      This list attempts to catalog as many of them as possible.  If you know of a book
      that's not on the list, please
      <?= $this->mailTo(CONTACT_EMAIL, 'email', ['subject' => '6502.org Books', 'encode' => 'javascript']) ?>
      its information to us.  Be sure to include all relevant information (author,
      title, publisher/location, date).  The list is maintained in the form of citations
      as specified by the <A HREF="http://www.mla.org">Modern Language Association</A> (MLA).

  		<p style="padding-top:20px;"><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="print-english"><b>Print: English Language</b></a>

  		<ul>
        <li>
          Barrow, David. <u>Assembler Routines For The 6502</u>.
          London, England: Century Communications Ltd, 1985. ISBN 0-7126-0507-X.
        </li>

        <li>
          Bright, Bob. <u>Assembly Language for the 6502: Pocket Guide</u>.
          London, England: Pitman, 1983.
        </li>

        <li>
          Butterfield, Jim.  <u>Machine Language for the Commodore 64 and other Commodore computers</u>.
          Bowie, Maryland, USA:  Brady Communications Company, Inc., 1984
        </li>

        <li>
          Carr, Joseph J. <u>6502 User's Manual</u>.
          Reston, Virginia: Reston Pub. Co., c1984.
        </li>

        <li>
          DeJong, Marvin L. <u>Programming & Interfacing the 6502, with Experiments</u>.
          Indianapolis, Indiana: Howard W. Sams, Inc., 1980.
        </li>

        <li>
          Eyes, David &amp; Lichty, Ron. <u>Programming the 65816 Including the 6502, 65C02 and the 65802</u>.
          New York, New York: Brady Prentice Hall Press, 1986. ISBN 0893037893.
        </li>

        <li>
          Fernandez, Judi N. &amp; Tabler, Donna N. &amp; Ashley, Ruth. <u>6502 Assembly Language
          Programming</u>. New York, New York: John Wiley &amp; Sons, Inc. ISBN 0-471-86120-0.
        </li>

        <li>
          Findley, Robert. <u>6502 Software Gourmet Guide and Cookbook</u>.
          Elmwood, Connecticut: Scelbi Publications, c1979.
        </li>

        <li>
          Fischer, Michael. <u>65816/65802 Assembly Language Programming</u>.
          Berkley, California: Osborne McGraw-Hill, 1986.
        </li>

        <li>
          Foster, Caxton C. <u>Programming a Microcomputer: 6502</u>.
          Reading, Massachusetts: Addison-Wesley Pub. Co., c1978.
        </li>

        <li>
          Holland, John M. <u>Advanced 6502 Interfacing</u>.
          Indianapolis, Indiana: Howard W. Sams, Inc., 1982.
        </li>

        <li>
          Labiak, William. <u>Programming the 65816</u>.
          Berkley, California: Sybex Inc., 1986.
        </li>

        <li>
          Hyde, Randy. <u>Using 6502 Assembly Language</u>.
          Chatsworth, California: Datamost, Inc., 1981.
        </li>

        <li>
          Leventhal, Lance A. <u>6502 Assembly Language Programming</u>.
          Berkeley, California: Osborne/McGraw-Hill., 1979. ISBN 0-931988-27-6.
        </li>

        <li>
          Leventhal, Lance A. & Saville, Winthrop. <u>6502 Assembly Language Subroutines</u>.
          Berkley, California: Osborne McGraw-Hill, 1982.
        </li>

        <li>
          Luetzow, Robert H. <u>Interfacing Test Circuits with Single-Board Computers</u>.
          Blue Ridge Summit, Pennsylvania: Tab Books, Inc., 1983.
        </li>

        <li>
          Mansfield, Richard. <u>Machine Language for Beginners</u>.
          Greensboro,  North Carolina: COMPUTE! Publications, Inc., 1983.
        </li>

        <li>
          Mansfield, Richard. <u>The Second Book of Machine Language</u>.
          Greensboro, North Carolina: COMPUTE! Publications, Inc., 1984.
        </li>

        <li>
          <u>MCS6500 - Microcomputer Family - Programming Manual</u>.
          Norristown, Pennsylvania: MOS Publication #6500-50A, 1976.
        </li>

        <li>
          Overaa, Paul.  <u>Teach Yourself Asssembler 6502</u>.
          London, England: Century Communications Ltd, 1985. ISBN 0-7126-0550-9.
        </li>

        <li>
          Scanlon, Leo J. <u>6502 Software Design</u>.
          Indianapolis, Indiana: Howard W. Sams & Co, Inc., 1980.
        </li>

        <li>
          Skier, Ken. <u>Beyond Games: Systems Software for your 6502 Personal Computer</u>.
          Petersborough, New Hampshire: Byte Publications, c1981.
        </li>

        <li>
          Skier, Ken. <u>Top-Down Assembly Language Programming for the 6502 Personal Computer</u>.
          New York, New York: McGraw-Hill Book Co., 1981.
        </li>

        <li>
          Stephenson, A. P. <u>6502 Machine Code for Beginners</u>. Kent, England:
          Butterworth &amp; Co. (Publishers) Ltd, 1983. ISBN 0-408-01311-7
        </li>

        <li>
          Smith, Mike. <u>6502 Machine and Assembly Language Programming</u>.
          Blue Ridge Summit, Pennsylvania: Tab Books, c1984.
        </li>

        <li>
          Tootill, Alan &amp; Barrow, David. <u>6502 Machine Code for Humans</u>.
          London, Great Britain: Granada Publishing, 1984. ISBN 0-246-12076-2.
        </li>

        <li>
          Weller, Walter J. <u>Practical Microcomputer Programming: the 6502</u>.
          Evanston, Illinois: Northern Technology Books, c1980.  ISBN 0-930594-08-8.
        </li>

        <li>
          Windeknecht, Thomas G. <u>6502 Systems Programming</u>.
          Boston, Massachusetts: Little, Brown and Co., 1983.
        </li>

        <li>
          Zaks, Rodnay. <u>6502 Applications Book</u>.
          Berkeley, California: Sybex Inc., 1979.  ISBN 0-89588-015-6.
          (<i>also titled <u>6502 Applications</u> with a different cover, same ISBN.</i>)
        </li>

        <li>
          Zaks, Rodnay. <u>6502 Games</u>.
          6502 Series, Volume 4 (G402). Berkeley, California: Sybex Inc., 1980.  ISBN 0-89588-022-9.
        </li>

        <li>Zaks, Rodnay. <u>Advanced 6502 Programming</u>.
          Berkeley, California: Sybex Inc., 1982. ISBN 0-89588-089-X.
        </li>

        <li>Zaks, Rodnay. <u>Programming the 6502 (Fourth Edition)</u>.
          Berkeley, California: Sybex Inc., 1983. ISBN 0-89588-046-6.
        </li>
      </ul>

    	<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
    	<a name="print-other"><b>Print: Other Languages</b></a>
      <ul>
        <li>
          Doppenberg, E.J.J. <u>Zakboekje 6502</u>. Deventer, The Netherlands: Kluwer
          Technische Boeken B.V., 1984. ISDN 90-201-1730-0. (Dutch Language)
        </li>

        <li>
          Ruszczyc, Jan.  <u>Asembler 6502</u>.
          Warsaw, Poland: SOETO 1987.
          <a href="/images/bookcovers/jruszczyc.jpg">Front Cover</a>.  (Polish Language)
        </li>

        <li>
          Kruszynski, Henryk & Kulpa, Krzysztof.  <u>Mikroprocesor 6502 i jego rodzina</u>.
          Warsaw, Poland: NOT-SIGMA 1989. ISBN 83-85001-58-1. (Polish Language)
        </li>

        <li>
          Stephenson A.P. <u>6502 Assembleertaal en Machinecode voor beginners</u>. Den Haag,
          The Netherlands: Academic Service, 1984. ISBN 90-6233-123-8. (Dutch Language,
          translation of <u>6502 Machine Code for Beginners</u>)
        </li>

        <li>
          TOPALOGLU Nurettin.  <u>Mikroislemciler ve Assembly Dili</u>.
          3rd Edition, Ankara, Turkey: Seckin Yayinevi, 2001.  ISBN: 975 347 364 8.
          <A HREF="/images/bookcovers/mikroislemciler.jpg">Front Cover</A>.  (Turkish Language)
        </li>

        <li>
          Zaks, Rodnay. <u>Programmeren van de 6502</u>. D&uuml;sseldorf, Germany: Sybex-Verlag
          GmbH., 1982. ISBN 3-88745-101-5.  (Dutch translation of <u>Programming the 6502</u>.
          Also translated to German as <u>Programmieren des 6502</u>, French as
          <u>Programmation du 6502</u>, and Italian as <u>Programmazione del 6502</u>).
        </li>
      </ul>

    	<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
    	<a name="online"><b>Books Available Online</b></a>
      <ul>
    		<li>
          <a href="http://www.atariarchives.org/mlb/">Machine Language for Beginners</a> -
    			Published in 1983 by Compute! Books, this classic book shows BASIC
    			programmers how to program in 6502 machine language. It includes examples
    			and program code for Atari, Apple 2, PET/CBM, VIC-20, and Commodore 64
    			computers.  It is made available online by
    			<a href="http://www.atariarchives.org">AtariArchives.org</a>, with permission
    			of the copyright holder.
        </li>
      </ul>
  	</td>

  	<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>
	</tr>

</table>
