<? $this->title = 'Discussion Groups' ?>
<? $this->description = 'Links to mailing lists and discussion groups for the 6502 microprocessor.' ?>
<?= $this->javascriptIncludeTag('groups') ?>

<div class="two-col-layout">
  <div class="two-col-main content-page">

  <p>
    There are many people interested in the 6502 microprocessor on the
    web and elsewhere.  Here is a mix of 6502-specific groups and broader
    communities where 6502 enthusiasts gather.
  </p>

  <div class="groups-filter">
    <label><input type="checkbox" class="groups-filter-checkbox"> Show only groups focused exclusively on the 6502</label>
  </div>

  <?= $this->categoryHeader('web', 'Web-Based Groups') ?>

  <ul>
    <li data-6502-exclusive>
      <a href="http://forum.6502.org">6502.org Forum</a>

      <p class="item-desc">The 6502.org Forum, hosted directly on 6502.org, is a great place to meet
      other 6502 enthusiasts, share your projects, and get help.</p>
    </li>

    <li>
      <a href="http://csdb.dk/forums/">Commodore 64 Scene Database</a>
      <p class="item-desc">Many forums including low-level coding</p>
    </li>

    <li>
      <a href="http://www.osiweb.org/osiforum/">Ohio Scientific Web</a>
      <p class="item-desc">Several forums including for sale/wanted</p>
    </li>

    <li>
      <a href="http://www.vcfed.org/forum/forum.php">Vintage Computer Forum</a>
      <p class="item-desc">Very general but has sub-forums for some 6502-based machines such as Apple II, C64</p>
    </li>

    <li data-6502-exclusive>
      <a href="https://groups.io/g/6502ag">groups.io 6502AG</a>

      <p class="item-desc">Phil Pemberton's "6502 Appreciation Group" has a
      mailing list which can be e-mailed or read on the web. 6502ag was on Yahoo!
      Groups until Yahoo closed down the groups, then Phil migrated it to groups.io.</p>
    </li>

    <li data-6502-exclusive>
      <a href="https://www.facebook.com/groups/6502CPU/">Facebook: 6502 Assembly Language Programming Group</a>

      <p class="item-desc">Facebook group. Account required</p>
    </li>
  </ul>

  <?= $this->categoryHeader('lists', 'Mailing Lists') ?>

  <ul>
    <li>
      <a href="http://www.softwolves.pp.se/misc/arkiv/index.en.html">cbm-hackers</a>
      <p class="item-desc">Technical discussions for Commodore enthusiasts</p>
    </li>

    <li>
      <a href="http://lists.cloud9.co.uk/mailman/listinfo/bbc-micro">bbc-micro</a>
      <p class="item-desc">BBC Microcomputer and related machines such as the Acorn Electron and BBC Master Series</p>
    </li>

    <li>
      <a href="http://www.classiccmp.org/">ClassicCmp</a>
      <p class="item-desc">Classic computer hardware, software, and documentation</p>
    </li>
  </ul>

  <?= $this->categoryHeader('usenet', 'USENET Newsgroups') ?>

  <ul>
    <li>
      <a href="news://comp.sys.acorn.misc">comp.sys.acorn.misc</a>
      <p class="item-desc">Acorn computers &mdash; early machines were 6502-based</p>
    </li>

    <li>
      <a href="news://comp.sys.apple2">comp.sys.apple2</a>
      <p class="item-desc">Apple II computers and peripherals</p>
    </li>

    <li>
      <a href="news://comp.sys.atari.8bit">comp.sys.atari.8bit</a>
      <p class="item-desc">8-bit Atari computers and peripherals</p>
    </li>

    <li>
      <a href="news://comp.sys.cbm">comp.sys.cbm</a>
      <p class="item-desc">8-bit Commodore computers and peripherals</p>
    </li>

    <li>
      <a href="news://comp.sys.oric">comp.sys.oric</a>
      <p class="item-desc">Oric, Atmos, and Telestrat computers and peripherals</p>
    </li>

    <li>
      <a href="news://comp.arch.embedded">comp.arch.embedded</a>
      <p class="item-desc">Embedded microsystems, including many microprocessors and microcontrollers</p>
    </li>
  </ul>

  </div>

  <aside class="two-col-sidebar">
    <?= $this->categoriesSidebar() ?>

    <div class="sidebar-callout">
      <strong>Contribute</strong>
      <p>
        Know of a discussion group that should be listed?
        <?= $this->emailLink('Contact us', '6502.org Discussion Groups') ?>
        with the details.
      </p>
    </div>
  </aside>
</div>
