<? $this->title = 'Discussion Groups' ?>
<? $this->description = 'Links to mailing lists and discussion groups for the 6502 microprocessor.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" class="bodyblack" style="padding-top:15px;">

        There are many people interested in the 6502 microprocessor on the
        web.  Discussion groups give users a chance to interact and share
        ideas.  Please send contact information about additional groups to us via
        <?= $this->mailTo('webmaster@6502.org', 'email', ['encode' => 'javascript']) ?>.

		<P style="padding-top:20px;"><IMG SRC="/images/files/folder_open.gif" align=left alt="**">&nbsp;
		<a name="web"><B>6502 Discussion Groups on the Web</b></a>

		<ul>
      <li>
        <A HREF="http://forum.6502.org">6502.org Users Forum</A> - The
        6502.org Users Forum is a great place to meet our 6502 enthusiasts and
        share information. It is hosted directly on the 6502.org server so
        users will not be subjected to advertisements or unwanted e-mail.
      </li>

      <li>
        <A HREF="http://forums.delphiforums.com/6502">Delphi Forums 6502</A> -
        Shortly after the inception of the 6502.org website, a discussion
        group was created on Delphi Forums for its users. Hundreds of messages
        with excellent 6502 information have been archived there and many
        knowledgable users are available for questions and support.
        Unfortunately, due to Delphi pushing advertisements and pay accounts
        we've now moved to our own local forum (above).
      </li>

      <li>
        <A HREF="http://www.yahoogroups.com/group/6502ag/">Yahoo! Groups
        6502AG</A> - Phil Pemberton's "6502 Appreciation Group" has a
        mailing list which can be e-mailed or read on the web.
      </li>
    </ul>

	<P style="padding-top:20px;"><IMG SRC="/images/files/folder_open.gif" align=left alt="**">&nbsp;
	<a name="social"><B>Social Networks</b></a>

    <ul>
      <li>
        <A HREF="https://plus.google.com/108984290462000253857/posts">MOS6502 on G+</A> - 
        Weekly 6502-related posts, curated by Andr&eacute; Fachat and Ed Spittles.
      </li>
    </ul>

	<P style="padding-top:20px;"><IMG SRC="/images/files/folder_open.gif" align=left alt="**">&nbsp;
	<a name="usenet"><B>USENET Newsgroups</b></a>

    <ul>
      <li>
        <A HREF="news://comp.sys.acorn.misc">comp.sys.acorn.misc</A> -
        Discussions for users of Acorn computers, early machines were
        6502-based.
      </li>

      <li>
        <A HREF="news://comp.sys.apple2">comp.sys.apple2</A> - Discussions for
        users of Apple II computers and peripherals.
      </li>

      <li>
        <A HREF="news://comp.sys.atari.8bit">comp.sys.atari.8bit</A> -
        Discussions for users of the 8-bit Atari computers and peripherals.
      </li>

      <li>
        <A HREF="news://comp.sys.cbm">comp.sys.cbm</A> - Discussions for users
        of the 8-bit Commodore computers and peripherals.
      </li>

      <li>
        <A HREF="news://comp.sys.oric">comp.sys.oric</A> - Discussions for
        users of the Oric, Atmos, and Telestrat computers and peripherals.
      </li>

      <li>
        <A HREF="news://comp.arch.embedded">comp.arch.embedded</A> -
        Discussions of embedded microsystems. Many different microprocessors
        and microcontrollers are often discussed and this is also a good forum
        for electronics discussions.
      </li>
    </ul>

	<P style="padding-top:20px;"><IMG SRC="/images/files/folder_open.gif" align=left alt="**">&nbsp;
	<a name="lists"><B>Mailing lists</b></a>

    <ul>
      <li>
        <A HREF="http://www.softwolves.pp.se/misc/arkiv/index.en.html">cbm-hackers</A> -
        For Commodore enthusiasts over the whole world aimed at more technical readers.
      </li>

      <li>
        <A HREF="http://lists.cloud9.co.uk/mailman/listinfo/bbc-micro">bbc-micro</A> -
        For discussion of all aspects of the BBC Microcomputer and related machines such as
        the Acorn Electron and BBC Master Series.
      </li>
    </ul>

	</td>

	<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>

	</tr>

	</table>
