<? $this->title = 'The 6502 Microprocessor Resource' ?>
<? $this->description = 'Information, links, and projects for enthusiasts of the 6502 microprocessor.' ?>

<div class="home-layout">
  <div class="home-main">
    <h2 class="section-heading">Welcome</h2>

    <p>
      6502.org is a resource for people interested in building hardware or writing software for the 6502 microprocessor and its relatives. For over 25 years, we have strived to be the largest and most complete source of 6502-related information in the world.
    </p>

    <h2 class="section-heading">Features</h2>

    <div class="featured-cards">
      <a href="/homebuilt/" class="featured-card">
        <img src="/images/feature_projects.jpg" alt="Garth Wilson's Bench-1 workbench computer">
        <div class="featured-card-body">
          <strong>Homebuilt Projects</strong>
          <span>See what people are building with the 6502</span>
        </div>
      </a>
      <a href="/documents/" class="featured-card">
        <img src="/images/feature_documents.jpg" alt="6500 clock timing diagrams from the MOS datasheet" style="object-position: center;">
        <div class="featured-card-body">
          <strong>Documents Archive</strong>
          <span>Datasheets, application notes, manuals, and more</span>
        </div>
      </a>
      <a href="/source/" class="featured-card">
        <img src="/images/feature_code.jpg" alt="6502 assembly language source code">
        <div class="featured-card-body">
          <strong>Source Code Library</strong>
          <span>Programs and subroutines in assembly language</span>
        </div>
      </a>
      <a href="http://forum.6502.org" class="featured-card">
        <img src="/images/feature_forum.jpg" alt="6502.org discussion forum">
        <div class="featured-card-body">
          <strong>6502.org Forum</strong>
          <span>Gathering place of the 6502 community since 1999</span>
        </div>
      </a>
    </div>

    <h2 class="section-heading">Also on 6502.org</h2>

    <div class="home-links-grid">
      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('News and Site Updates', ['action' => 'news']) ?></b><br>
          Find out what's new or changed on 6502.org.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Hardware Mini-Projects', ['action' => 'mini_projects']) ?></b><br>
          Learn how to interface hardware with your 6502 project through
          examples with schematics and source code.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Newsletters and Magazines', ['controller' => 'documents', 'path' => '/publications']) ?></b><br>
          A collection of early publications from the heyday of the 6502.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Tutorials and Primers', ['action' => 'tutorials']) ?></b><br>
          Lessons, step-by-step instructions, tips and tricks, and
          reference material for developers.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Books for the 6502 Fanatic', ['action' => 'books']) ?></b><br>
          Must-read titles for the 6502 fanatic.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Commercial Support', ['action' => 'commercial']) ?></b><br>
          Distributors of 65xx chips, commercial development tools, and
          other commercial links useful to the 6502 enthusiast.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Development Tools and Emulators', ['controller' => 'tools']) ?></b><br>
          Assemblers, disassemblers, compilers, optimizers, emulators,
          and test suites for cross-development of 6502 programs.
        </div>
      </div>

      <div class="home-link-item">
        <div>
          <b><?= $this->linkTo('Microcomputers and Trainers', ['controller' => 'trainers']) ?></b><br>
          First generation 6502 computers and trainers, including classics
          like the MOS KIM-1 and modern EPE Microlab.
        </div>
      </div>
    </div>
  </div>

  <aside class="home-sidebar">
    <div class="sidebar-box">
      <div class="boxtitle">Navigation</div>
      <div class="box">
        &bull;&nbsp;<a href="news/">News and Site Updates</a><br>
        &bull;&nbsp;<a href="homebuilt/">Homebuilt Projects</a><br>
        &bull;&nbsp;<a href="source/">Source Code Library</a><br>
        &bull;&nbsp;<a href="mini-projects/">Hardware Mini-Projects</a><br>
        &bull;&nbsp;<a href="documents/">Documents Archive</a><br>
        &bull;&nbsp;<a href="documents/publications">Newsletters and Magazines</a><br>
        &bull;&nbsp;<a href="tutorials/">Tutorials and Primers</a><br>
        &bull;&nbsp;<a href="books/">Book List</a><br>
        &bull;&nbsp;<a href="commercial/">Commercial Support</a><br>
        &bull;&nbsp;<a href="crossdev/">Development Tools</a><br>
        &bull;&nbsp;<a href="groups/">Discussion Groups</a><br>
        &bull;&nbsp;<a href="/trainers/">Microcomputers &amp; Trainers</a><br>
      </div>
    </div>

    <div class="sidebar-box">
      <div class="boxtitle">Hosted Sites</div>
      <div class="box">
        &bull;&nbsp;<a href="/users/andre/">Andr&eacute; Fachat's 8-bit Pages</a><br>
        &bull;&nbsp;<a href="/users/obelisk/">Andrew Jacobs' Obelisk Website</a><br>
        &bull;&nbsp;<a href="/users/dallas/">Dallas Shell's SYM-1 Pages</a><br>
        &bull;&nbsp;<a href="/users/dieter/">Dieter M&uuml;ller's TTL CPU Pages</a><br>
        &bull;&nbsp;<a href="/users/garth/">Garth Wilson's Projects</a><br>
        &bull;&nbsp;<a href="/users/mycorner/">Lee Davison's My Corner Website</a><br>
        &bull;&nbsp;<a href="/users/andre/petindex/index.html">Commodore PET Index</a><br>
        &bull;&nbsp;<a href="http://cbm.6502.org/">Commodore Documents</a><br>
      </div>
    </div>

    <div class="sidebar-callout">
      <strong>Contribute</strong>
      <p>
        This site has been built on visitor contributions.
        <?= $this->mailTo(CONTACT_EMAIL, 'Contact us', ['subject' => '6502.org Submission', 'encode' => 'javascript']) ?>
        if you have something to share, whether in electronic form or otherwise.
      </p>
    </div>
  </aside>
</div>
