<? $this->title = 'Mini-Projects' ?>
<? $this->description = 'How to connect all kinds of things to your 6502-based device.' ?>

<div class="content-page">
  <p>
    The 6502 microprocessor has been along for a long time and a lot of smart
    people have built projects with it. It's likely that at least some of the
    work you need to do for your project has already been done by someone
    else. Why re-invent the wheel? This section provides schematics and
    related source code for many useful things.
  </p>

  <p>
    Know how to do something? Please submit a contribution for "Hardware Mini-Projects"
    to us via
    <?= $this->mailTo(CONTACT_EMAIL, 'email', ['subject' => '6502.org Mini-Projects', 'encode' => 'javascript']) ?>!
  </p>

  <p style="padding-top:20px;"><img src="/images/files/folder_open.gif" alt="**" style="vertical-align: middle;">&nbsp;
  <a name="mini-projects"><b>Hardware Mini Projects</b></a></p>

  <div class="mini-project-item">
    <a href="/mini-projects/flash/28f.htm">28F010 Flash Device</a> <span class="mp-author">by Pete McCollum</span>
    <div class="mp-desc">Shows you how to read and program this non-volatile storage memory in your 6502-based project.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/optrexlcd/lcd.htm">Character LCD Module</a> <span class="mp-author">by Chris Ward</span>
    <div class="mp-desc">Demonstrates how to interface and program a character-based LCD module to your 6502 computer.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/clock-switching/clock-switching.html">Clock Speed Switching</a> <span class="mp-author">by Paul Fellingham</span>
    <div class="mp-desc">Cleanly switch between two different clock sources without crashing the 6502 microprocessor.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/ds1820/ds1820.htm">Dallas DS1820</a> <span class="mp-author">by Leo Nechaev</span>
    <div class="mp-desc">Create a thermometer by adding a one-wire interface to Dallas Semiconductor's small DS1820 digital temperature sensor.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/dpod/datapod.htm">Data Pod</a> <span class="mp-author">by Samir Lohani</span>
    <div class="mp-desc">The Data Pod is a serial port device with nonvolatile EEPROM storage. Use it in place of a cassette or floppy storage device with your project.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/firecracker/firecracker.htm">FireCracker CM17A</a> <span class="mp-author">by Mike Naberezny</span>
    <div class="mp-desc">Control home automation devices wirelessly with RF by interfacing X-10's FireCracker CM17A RF transmitter.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/at-keyb/at-keyb.htm">IBM PC/AT Keyboard Interface</a> <span class="mp-author">by Lee Davison</span>
    <div class="mp-desc">The standard PC/AT-compatible keyboard is an inexpensive and relatively easy way to add a full-featured input device to your project.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/nop-gen/nop-gen.htm">NOP Generator</a> <span class="mp-author">by Lee Davison</span>
    <div class="mp-desc">This simple circuit is an aid for troubleshooting homebuilt 6502 computers. It plugs into the ROM socket and forces the microprocessor to execute the NOP instruction repeatedly, allowing the circuit to be tested.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/priority-interrupt-encoder/priority-interrupt-encoder.html">Priority Interrupt Encoder</a> <span class="mp-author">by Paul Fellingham</span>
    <div class="mp-desc">Build a priority interrupt encoder to eliminate the time-intensive polling of devices after an interrupt occurs.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/gp2d02/gp2d02.htm">Sharp GP2D02</a> <span class="mp-author">by Mike Naberezny</span>
    <div class="mp-desc">The Sharp GP2D02 is an infrared ranging sensor. It is a two-wire serial device that measures the distance from itself to an object and returns the distance as a byte value. This example shows how to connect up to four GP2D02s to a single 8-bit port and read them simultaneously.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/freq_counter/freq_counter.htm">Frequency Counter</a> <span class="mp-author">by M. Dohmen and R. Koekoek</span>
    <div class="mp-desc">This project utilizes the seldom-used SOV input of the 6502 to allow a 1 MHz machine to accurately count a signal up to 100 KHz.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/816conv/conv.html">65C816 to 6502 Converter</a> <span class="mp-author">by Daryl Rictor</span>
    <div class="mp-desc">Construct an adapter board to plug a 65C816 into a socket made for a 6502.</div>
  </div>

  <div class="mini-project-item">
    <a href="/mini-projects/rdy-generation/index.html">RDY Generation for CMOS 65C02 Microprocessors</a> <span class="mp-author">by Andre Fachat</span>
    <div class="mp-desc">Describes a generic schematic for generating the RDY line used by the 65C02 microprocessor to hold bus accesses when a device is not ready.</div>
  </div>

</div>
