<? $this->title = 'Tutorials and Primers' ?>
<? $this->description = 'Learn how to do all kinds of things with the 6502 microprocessor.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" bgcolor="#ffffff" class="bodyblack" style="padding-top:15px;">
			Here you will find lessons on various aspects of the 6502 and its
			programming, along with handy reference material.  <br>Please submit
			contributions for "Tutorials and Primers"
			to us via <?= $this->mailTo('webmaster@6502.org', 'email', ['encode' => 'javascript']) ?>.

			<P style="padding-top:20px;"><IMG SRC="/images/files/folder_open.gif" align=left alt="**">&nbsp;
			<a name="tutorials"><b>Tutorials and Primers</b></a>

            <ul>
    			<li>
    				<A HREF="/tutorials/6502opcodes.html">NMOS 6502 Opcodes</A>&nbsp;
    				<span style="font-size:10px;">by John Pickens, Updated by Bruce Clark</span>
    				<UL>An alphabetical listing of the complete set of NMOS 6502 opcodes including
    				addressing modes, standard syntax, execution times.</UL>
    		    </li><br />

    			<li>
    				<a href="/tutorials/65c02opcodes.html">CMOS 65C02 Opcodes</a>&nbsp;
    				<span style="font-size:10px;">by Bruce Clark</span>
    				<UL>The 65C02 has many similarities to the NMOS 6502, but the 65C02 has
    		        additional instructions and addressing modes available.  In addition, there
    		        are instructions with functional differences and different cycle counts.
    		        These differences are documented in this article.
    				</UL>
    			</li><br />

    			<li>
    				<a href="/tutorials/compare_instructions.html">Compare Instructions</a>&nbsp;
    				<span style="font-size:10px;">from 6502 Software Design, Updated by Bruce Clark</span>
    				<ul>Describes the 6502's compare instructions, how they affect the
    				processor status flags, and demonstrates how to implement them for
    				making decisions on different conditions.</UL>
    			</li><br />

    			<li>
    				<a href="/tutorials/compare_beyond.html">Beyond 8-bit Unsigned Comparisons</a>&nbsp;
    				<span style="font-size:10px;">by Bruce Clark</span>
    				<ul>The 6502 has several options available for comparing numbers.  Each option,
    				naturally, has its pros and cons in terms of speed and size.  There are also
    				some infrequently used options that occasionally come in handy.  Finally, and
    				unfortunately, some misconceptions abound about signed (two's complement)
    				numbers and the correct way to compare them.  All of these topics are covered
    				in this article.</ul>
    		    </li><br />

                <li>
    				<a href="/tutorials/decimal_mode.html">Decimal Mode</a>&nbsp;
    				<span style="font-size:10px;">by Bruce Clark</span>
    				<ul>BCD (Binary Coded Decimal) numbers can be directly added or
    				subracted on the 6502 by using decimal mode. The basics of decimal mode
    				are easily understood, but the specifics of its operation and use aren't
    				always well documented. This tutorial is intended to provide those
    				specifics.</ul>
                </li><br />

    			<li>
                    <a href="/tutorials/vflag.html">The Overflow (V) Flag Explained</a>&nbsp;
                    <span style="font-size:10px;">by Bruce Clark</span>
                    <ul>One of the more mysterious topics of the 6502 is the overflow (V) flag.
                    This tutorial is intended to fill these voids by providing a detailed description of the
                    overflow flag, its purposes, and its uses.</ul>
                </li><br />

    			<li>
                    <a href="/tutorials/interrupts.html">Investigating Interrupts</a>&nbsp;
                    <span style="font-size:10px;">by Garth Wilson</span>
                    <ul>This is an extensive tutorial on interrupt programming.  It introduces
                    the concept of interrupts, demonstrates how to code interrupt handlers, explains special
                    interrupt types (NMI, BRK, WAI), provides three sample projects that make good use of
                    interrupts, and discusses performance considerations.</ul>
                </li><br />

    			<li>
                    <a href="/tutorials/zero_overhead_forth_interrupts.html">Zero-Overhead Forth Interrupts</a>&nbsp;
                    <span style="font-size:10px;">by Garth Wilson</span>
                    <ul>Servicing interrupts in high-level Forth is rather easy to do in an
                    indirect-threaded Forth system.  This article shows what is needed to do it on a
                    6502.  It should be easy to adapt it for other simple processors as well.
                    </ul>
                </li><br />

    			<li>
                    <a href="/tutorials/register_preservation.html">Register Preservation Using The Stack (and a BRK handler)</a>&nbsp;
                    <span style="font-size:10px;">by Bruce Clark</span>
    			    <ul>Learn the common methods for preserving registers on the stack for both the 6502
                    and 65C02.  This tutorial also demonstrates how to properly distinguish whether an
                    interrupt was caused by IRQ or the BRK instruction.</ul>
                </li><br />

                <li>
                    <a href="http://wilsonminesco.com/RS-232/RS-232primer.html">RS-232 Primer [off-site]</a>&nbsp;
                    <span style="font-size:10px;">by Garth Wilson</span>
                    <ul>This primer explains RS-232 communications including the basics of data transmission,
                        handshaking, cabling, and UARTs.</ul>
                </li><br />
			</ul>

			<br><img src="/images/spacer.gif" height="75" width="1">
		</td>

		<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>
	</tr>

	</table>
