<? $this->title = 'Documents Archive' ?>
<? $this->description = 'A collection of useful documents pertaining to the 6502 microprocessor.' ?>
<?= $this->javascriptIncludeTag('documents') ?>

<div class="two-col-layout">
  <div class="two-col-main">

    <?= $this->breadcrumbs() ?>

    <? foreach ($this->folder->subfolders as $subfolder): ?>
      <div class="doc-folder">
        <img src="/images/files/folder_closed.gif" alt="**">&nbsp;

        <a href="<?= $subfolder->path() ?>"><?= $this->h($subfolder->title) ?></a>

        <? if (! empty($subfolder->description)): ?>
          <div class="doc-folder-desc">
            <?= $this->h($subfolder->description) ?>
          </div>
        <? endif ?>
      </div>
    <? endforeach ?>

    <div class="doc-list">
      <? foreach ($this->folder->documentFiles as $doc): ?>
        <? if ($doc->visible): ?>
          <div class="doc-item<? if ($doc->obsolete): ?> doc-obsolete<? endif ?>">
            <div>
              <?= $this->linkTo($this->imageTag($this->fileFormatIcon($doc), ['border' => 0]), $this->downloadUrl($doc)) ?>
              &nbsp;&nbsp;<?= $this->h($doc->title) ?>
              <? if (!$doc->obsolete): ?>
                <? $olderCount = $this->countPrecedingObsolete($doc, $this->folder->documentFiles) ?>
                <? if ($olderCount > 0): ?>
                  <a href="#" class="doc-older-link">(+ <?= $olderCount ?> older)</a>
                <? endif ?>
              <? endif ?>
            </div>
            <div class="doc-item-detail">
              &nbsp;&nbsp;<a href="<?= $this->downloadUrl($doc) ?>"<? if (!$doc->isReadable()): ?> class="offsite"<? endif ?>><?= $this->h($doc->filename) ?></a> -
              <?= $doc->pages ?> pages, <?= $this->numberToHumanSizeWithDotZero($doc->filesize) ?>
            </div>
          </div>
        <? endif ?>
      <? endforeach ?>
    </div>

  </div>

  <aside class="two-col-sidebar">
    <? if (count($this->folder->subfolders) > 0): ?>
    <div class="sidebar-box">
      <div class="boxtitle"><?= $this->h($this->truncate($this->folder->title, 30)) ?></div>
      <ul class="box sidebar-list">
        <? foreach ($this->folder->subfolders as $subfolder): ?>
        <li><a href="<?= $subfolder->path() ?>"><?= $this->h($this->truncate($subfolder->title, 30)) ?></a></li>
        <? endforeach ?>
      </ul>
    </div>
    <? endif ?>

    <div class="sidebar-callout">
      <strong>Contribute</strong>
      <p>
        Have a document that should be included?
        <?= $this->emailLink('contact us', '6502.org Documents Archive') ?>
        to submit it.
      </p>
    </div>
  </aside>
</div>
