<? $this->title = 'Documents Archive' ?>
<? $this->description = 'A collection of useful documents pertaining to the 6502 microprocessor.' ?>

<div class="two-col-layout">
  <div class="two-col-main">

    <?= $this->breadcrumbs() ?>

    <? foreach ($this->myFolders as $folder): ?>
      <div style="padding: 0 0 10px 15px; font-weight: bold;">
        <img src="/images/files/folder_closed.gif" style="vertical-align: middle;" alt="**">&nbsp;

        <a href="<?= $folder['url'] ?>"><?= $this->h($folder['title']) ?></a>

        <? if (! empty($folder['description'])): ?>
          <div style="padding: 6px 0 2px 20px; font-weight: normal;">
            <?= $this->h($folder['description']) ?>
          </div>
        <? endif ?>
      </div>
    <? endforeach ?>

    <div style="padding: 5px 0 0 15px;">
      <? foreach ($this->myFolder['docs'] as $doc): ?>
        <? if ($doc['visible']): ?>
          <div style="padding-bottom: 15px;">
            <div>
              <?= $this->linkTo($this->imageTag($this->fileFormatIcon($doc), ['border' => 0]), $doc['url']) ?>
              &nbsp;&nbsp;<?= $this->h($doc['title']) ?>
            </div>
            <div style="padding-left: 20px;">
              &nbsp;&nbsp;<a href="<?= $doc['url'] ?>"><?= $this->h($doc['filename']) ?></a> -
              <?= $doc['pages'] ?> pages, <?= $this->numberToHumanSizeWithDotZero($doc['filesize']) ?>
            </div>
          </div>
        <? endif ?>
      <? endforeach ?>
    </div>

  </div>

  <aside class="two-col-sidebar">
    <? if (count($this->myFolders) > 0): ?>
    <div class="sidebar-box">
      <div class="boxtitle"><?= $this->h($this->truncate($this->myFolder['title'], 30)) ?></div>
      <div class="box">
        <? foreach ($this->myFolders as $folder): ?>
        &bull;&nbsp;<a href="<?= $folder['url'] ?>"><?= $this->h($this->truncate($folder['title'], 30)) ?></a><br>
        <? endforeach ?>
      </div>
    </div>
    <? endif ?>

    <div class="sidebar-callout">
      <strong>Contribute</strong>
      <p>
        Have a document that should be included?
        <?= $this->mailTo(CONTACT_EMAIL, 'Contact us', ['subject' => '6502.org Documents Archive', 'encode' => 'javascript']) ?>
        to submit it.
      </p>
    </div>
  </aside>
</div>
