<? $this->title = 'Simple Microcomputers and Trainers' ?>
<? $this->description = 'Information and links for the first generation of 6502-based systems.' ?>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img src="/images/spacer.gif" width="10" alt=" "></td>

		<td width="100%" class="bodyblack" style="padding-top:15px;">

    This section is dedicated to the first generation of 6502-based microcomputers and
    trainers, such as the MOS KIM-1 and Rockwell AIM-65.  Modern trainers and
    simple computers built in the same spirit can also be found here.

		<p style="padding-top:20px;"><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="acorn"><b>Acorn Microcomputer (Acorn System 1)</b></a>
  		<ul>
    		<li>
    		  <a href="http://speleotrove.com/acorn/index.html">Mike Cowlishaw's Acorn Pages</a> -
          These pages contain history, firmware, documentation, and many excellent
          pictures of a lesser-known European 6502 kit computer.
        </li>
  		</ul>
	  </p>

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="kim1"><b>MOS Technology KIM-1</b></a>
  		<ul>
    		<li>
    		  <a href="/trainers/buildkim/kim.htm">What is the KIM-1?</a> -
            The answer to this question can be found in this technical document from Ruud
            Baltissen.
        </li>

    		<li>
    		  <a href="/trainers/buildkim/buildkim.htm">Build Your Own KIM-1</a> -
            After you know what a KIM-1 is, Ruud shows you how to make your own modern
            KIM-1 replica, complete with schematics and source code.
        </li>

    		<li>
    		  <a href="http://users.telenet.be/kim1-6502/">Erik's KIM-1 Page</a> -
            Erik Van den Broeck's page offers excellent HTML versions of all of the
            original KIM-1 manuals for reading online. The (almost) entire text of the
            First Book of KIM and MICROCHESS by Peter Jennings are also available here.
        </li>

    		<li>
    		  <a href="http://www.classiccmp.org/cini/">Rich's Classic Computing Entry Page</a> -
            Rich Cini has the KIM-1 schematics, Hardware Manual, User's Guide, Hints
            Guide, User's Notes, and Monitor ROM source code online. His
            <a href="http://www.classiccmp.org/cini/systems.htm">documents page</a>
            also includes scans of many Rockwell AIM-65 documents.
        </li>

    		<li>
    		  <a href="http://www.crbond.com/6502.htm">KIMATH</a> -
            MOS Technology developed this high-quality floating point math package for the
            KIM-1. Charles R. Bond has provided it, complete with documentation, on this page.
        </li>

    		<li>
    		  <a href="/trainers/kim1/mathpac.zip">MATHPAC</a> -
            Paul R. Santa-Maria submitted MATHPAC, an extension to KIMATH.
            This ZIP file contains the original article in PDF and a plain
            text version.
        </li>

    		<li>
    		  <a href="http://www.kim-1.com">KIM-1 Enthusiasts Page</a> -
            Vern Graner has put together this resource for KIM-1 users with documents,
            programs, and a photo gallery.
        </li>

    		<li>
    		  <a href="http://www.floodgap.com/retrobits/kim-1/emu.html">KIMplement</a> -
            Cameron Kaiser has written a KIM-1 emulator that runs on the Commodore 64.
        </li>

    		<li>
    		  <a href="http://www.genedorr.com/software/">vKIM ("Virtual KIM")</a> -
            Eugene Dorr has written a KIM-1 emulator for the Palm. It is complete enough
            to run many programs from "The First Book of KIM" and its source code is
            available under the GNU Public License.
        </li>
  		</ul>
	  </p>

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="sym1"><b>Synertek SYM-1</b></a>
  		<ul>
    		<li>
    		  The <a href="synertek">Synertek SYM-1 Resources</a>
          section contains manuals and binaries for the SYM-1, including its monitor,
          RAE, the BASIC interpreter, and more.
        </li>
  		</ul>
	  </p>

		<p><img src="/images/files/folder_open.gif" align=left alt="**">&nbsp;
  		<a name="microtan65"><b>Tangerine Microtan 65</b></a>
  		<ul>
    		<li>
    		  <a href="http://oric.free.fr/microtan.html">The Microtan65 Page</a> -
          Fabrice Frances has a site dedicated to the Tanbert Microtan65, a
          lesser-known early 6502 computer.  Fabrice also hosts
          <a href="http://oric.ifrance.com/oric/index_english.html">Oric World</a>.
        </li>

    		<li>
    		  <a href="http://www.geoff.org.uk/microtan/">Geoff's Microtan65 Page</a> -
          Geoff Macdonald has a Microtan65 page with an emulator, Microtan software, and
          magazine articles.
        </li>

    		<li>
    		  <a href="http://web.archive.org/web/20020206222247/http://www.zillion.freeuk.com/tann/tan65.html">David's Microtan65 Emulator</a> [archive.org] -
            David Brown once offered an impressive emulator for Windows that
            came bundled with several Microtan programs.
        </li>

  		</ul>
	  </p>

	</td>

	<td><img src="/images/spacer.gif" height="1" width="10" alt=" "></td>

	</tr>

	</table>
